<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lockreact"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <application
      android:name=".MainApplication"
      android:allowBackup="true"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

      <!--Auth0 Lock-->
      <activity
        android:name="com.auth0.lock.LockActivity"
        android:theme="@style/Lock.Theme"
        android:screenOrientation="portrait"
        android:launchMode="singleTask">
        <intent-filter>
          <action android:name="android.intent.action.VIEW"/>
          <category android:name="android.intent.category.DEFAULT"/>
          <category android:name="android.intent.category.BROWSABLE"/>
          <data android:scheme="a0{lowercase auth0 client id}" android:host="{auth0 domain}"/>
        </intent-filter>
      </activity>
      <!--Auth0 Lock End-->
      <!--Auth0 Lock Embedded WebView-->
      <!--Can be removed if you want to use browser instead-->
      <activity
          android:name="com.auth0.identity.web.WebViewActivity"
          android:theme="@style/Lock.Theme">
      </activity>
      <!--Auth0 Lock Embedded WebView End-->
      <!--Auth0 Lock Passwordless-->
      <activity
          android:name="com.auth0.lock.passwordless.LockPasswordlessActivity"
          android:theme="@style/Lock.Theme"
          android:screenOrientation="portrait"
          android:launchMode="singleTask">
      </activity>
      <activity
          android:name="com.auth0.lock.passwordless.CountryCodeActivity"
          android:theme="@style/Lock.Theme">
      </activity>
      <!--Auth0 Lock Passwordless End-->
    </application>


</manifest>
